.frameContainer {
  .frameContent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .block {
      background-color: teal;
      height: 30px;
      width: 20px;
      margin: 20px;
      flex: 1;
      border-radius: 5px;
      flex-basis: 300px;
    }
  }
}
